permissions/
bluemap/
mods/
natives/
.fabric/
moddata/
emotes/
defaultconfigs/
patchouli_books/
paintings/
craftpresence/
shaderpacks/
ModTranslations/
resourcepacks/
fancymenu_setups/
not-enough-crashes/
.mixin.out/
crash-reports/
logs/
saves/
/manifest.json
/installing.lock
/background.png
/servers.dat
/keys.txt
/patchouli_data.json
/BTLib.dll
/realms_persistence.json
/usercache.json
/ds_private_storage.json
/options.txt
/config.json
